body {
  padding: 0;
  margin: 0;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}
* {
  padding: 0;
  margin: 0;
}
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
  width: 100%;
}
nav{
  display: block;
}

#intro {
  padding: 8em 4em 3em 4em;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 1s ease;
  transition-duration: 1s;
  cursor: default;
  text-align: center;
}
#intro h1 {
  /* color: #ffffff; */
  text-align: center;
  font-size: 5rem;
}
#intro p {
  margin: 1rem 0 2rem 0;
  font-size: 1.25rem;
  font-style: italic;
}
#intro a {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  color: #ffffff;
  transition-duration: 0.4s;
}
#intro a:hover {
  color: #18bfef;
  border: 2px solid #18bfef;
}

body header nav ul li a {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  line-height: 2em;
  color: seashell;
  font-family: "微软雅黑";
  font-size: large;
}

/* 大于等于320px */
@media only screen and (min-width: 20em) {
  html {
    font-size: 12px;
  }
  /* Nav */
  #navPanelToggle {
    display: block;
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5em;
    top: 1em;
    right: 1em;
    font-size: 1em;
    font-weight: bold;
    color: #5f4f4f;
    background-color: rgba(255, 255, 255, 0.8);
  }
  #navigation {
    display: none;
  }

  /* Main */
  #main {
    padding: 0 5%;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
  }
  #main header {
    border-bottom: 2px solid #f4f4f4;
  }
  #main header span {
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    width: 25%;
    font-size: 1em;
  }
  #main header span hr {
    border: 1.5px solid #5f4f4f;
  }
  #main header h3 {
    padding: 0 0 2em 0;
  }
  #main header h3 a {
    display: inline;
    padding: 0;
    font-size: 1.5em;
    transition-duration: 0.2s;
  }
  #main header a {
    display: block;
    color: #5f4f4f;
    padding: 1em 0;
  }
  #main header a:hover {
    color: #18bfef;
  }
  #main header ul {
    padding: 1em 0 2em 0;
  }
  #main header li a {
    font-size: 1.5em;
    font-weight: bold;
    color: #5f4f4f;
    border: 2px solid #5f4f4f;
    padding: 0.5em 0;
    transition-duration: 0.4s;
  }
  #main header li a:hover {
    color: #18bfef;
    border: 2px solid #18bfef;
  }
}

/* 大于等于480px小于等于767px */
@media only screen and (min-width: 30em) and (max-width: 48.9375em) {
  html {
    font-size: 14px;
  }
}

/* 大于等于768px */
@media only screen and (min-width: 48em) {
  html {
    font-size: 16px;
  }
  #navPanelToggle, #navPanel{
    display: none;
  }
  #navigation {
    display: block;
  }
}

/* 大于等于960px */
@media only screen and (min-width: 60em) {
  body nav {
    margin: 0 auto;
    width: 80%;
    height: 4em;
    background-color: #00000023;
  }
  /* Link */
  body nav .link,
  body nav .link li {
    height: 100%;
    float: left;
  }
  body nav .link a {
    padding: 0 1em;
    display: block;
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 1em;
    line-height: 4em;
    background-color: rgba(255, 255, 255, 0);
    transition-duration: 0.4s;
  }
  body nav .link a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #18bfef;
  }

  /* Icon */
  body nav .icon,
  body nav .icon li {
    height: 100%;
    float: right;
  }
  body nav .icon a {
    padding: 0 0.5em 0 0.5em;
    display: block;
    height: 2.6667em;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    line-height: 2.6667em;
    transition-duration: 0.4s;
  }
  body nav .icon a:hover {
    color: #18bfef;
  }

  /* Main */
  #main {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
  }
  #main header {
    padding: 3em 0;
  }
  #main header span {
    padding: 0 0 2em 0;
    display: block;
    width: 15%;
    margin: 0 auto;
  }
  #main header span hr {
    border: 1.5px solid #5f4f4f;
  }
  #main header h3 {
    padding: 0 0 3em 0;
  }
  #main header h3 a {
    display: inline;
    padding: 0;
    font-size: 1.5em;
    transition-duration: 0.2s;
  }
  #main header a {
    display: block;
    padding: 0 10%;
    color: #5f4f4f;
  }
  #main header a:hover {
    color: #18bfef;
  }

  #main header ul {
    padding: 1em 0 2em 0;
  }
  #main header li a {
    margin: 0 auto;
    width: 20%;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    color: #5f4f4f;
    border: 2px solid #5f4f4f;
    padding: 0.5em 0;
    transition-duration: 0.4s;
  }
  #main header li a:hover {
    color: #18bfef;
    border: 2px solid #18bfef;
  }

  /* Article */
  #article {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    padding: 0;
  }
  #article section {
    width: 50%;
    height: 10em;
    text-align: center;
  }
}

/* 大于等于1280px */
@media only screen and (min-width: 80em) {
  html {
    font-size: 18px;
  }
}
